html,
body {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: skyblue;
}

.main {
  padding-top: 14px;
}

/*.container {
  background-color: beige;
  position: absolute;
  left: 10%;
  height: 100%;
  width: 100%;
  padding-right: 10%;
}

.container main {
  left: 20%;
}*/
